body{
  margin: 0;
  background-color: #f2f2f2;
  position: relative;
  overflow-x: hidden;
}

a{
  color: black;
  text-decoration: none;
}

nav > a{
  color: white;
  padding: 15px 16px;
}

.konga-product{
  display: flex;
  justify-content: space-around;
  padding: 8px;
}
.konga-product > img{
  width: 100px;
  object-fit: contain;
  object-position: center;
}
.sticky{
 position: sticky;
 top: -40px;
}

nav{
  background-color: #ed017f;
  display: flex;
  align-items: center;
  padding-inline: 20px ;
  
}
#nav-logo{
  width:150px;
  object-fit: contain;
}
nav > a{
  color: #fff;
  text-align: center;
  display: block;
  flex: 1;
  padding: 15px 20px;
}
nav > a:hover{
  background-color: white;
  color: black;
  color: #ed017f;
}
#help{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 33px;
  gap: 7px;
}
#help >  .fa-question{
  width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 50%;
  background-color: #7c646434;
  text-align: center;
}
#nav-search-bar{
  width: 33.79%;
  display: flex;
  align-items: center;
}
#nav-search-bar > input{
  width: 90%;
  padding: 12px 5px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#nav-search-bar> span{
  background-color: #fba100;
  width: 7%;
  height: 100%;
  padding: 11px 5px;
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.cart{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2d9e6d;
  height: 10px;
  border-radius: 5px;
  font-size: 14px;
  margin: auto;
  width: 50px;
}

.cart:hover{
  background-color: #308963;
  color: white;
}

#cart-quantity{
  background-color: white;
  color: black;
  padding: 5px 7px;
  display: block;
 margin-left: 25px;
  border-radius: 4px;
}
.cart-name{
  display: flex;
  align-items: center;
}
.categories{
  display: flex;
  background-color: #94004f;
  align-items: center;
}
.categories  >  a{
  color: white;
  padding: 15px 19.38px;
  text-align: center;
}
.categories > :first-child{
  font-weight: 600;
}
.categories > a:hover{
  background-color: #fff;
  color: black;
}

.amazing{
  padding-block: 25px 5px;
  padding-left: 30px;
  background-color: #fff;
  margin-bottom: 25px;
}
main > h1{
  font-size: 40px;
}
.home-nd-daily-link{
  font-size: 13px;
}
.home-nd-daily-link > i{
  color:#9b9b9b;
} 
#daily{
  color: #9a0052;
  font-weight: 600;
}
#hero-image{
  object-fit: contain;
  width: 100vw;
}
.all-products{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.product{
 display: flex;
 flex-direction: column;
 transition: all 0.3s ease-in-out;
 gap: 5px;
}
.single-product:hover{
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.082);
}
.mobile-icons{
  display: none;
 }
.single-product{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
}
.days{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.days >:nth-child(1) > span{
  font-size: 14px;;
} 
.days > div{
  flex: 1;
}
@media  (max-width: 500px) {
  footer{
    display: none;
  }
 .product{
  flex-direction: row;
  align-items: center;
  height: 150px;
 }
 nav  > a,
  button.add{
  display: none;
 }

 .not-responsive,#help{
  display: none; 
  }


 .nav{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block: 10px;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.186);
 }

 #nav-logo{
  width: 100px;
  object-fit: contain;
 }
 #nav-search-bar{
  width: 100%;
 }
 #nav-search-bar >input{
  width: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
 }
 #nav-search-bar> span{
  background-color: #ddd;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
 }
 #nav-search-bar> span >i{
  color:#9b9b9b;
 }
 .nav input{
  border-top-left-radius: 0;
  width: 100%;
  background-color: #dddddd;
 }
 .mobile-icons{
  display: flex;
  gap: 10px;
 }
 .image-holder{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
 }
 .amazing{
  padding-block: 5px;
  padding-left: 0;
 }
 .amazing > h1{
  font-size: 20px;
  text-align: center;
  font-weight: -weight;
 }
 .product-price{
  gap: 10px;
 }
 .product-image-ctn > img{
  width: 100px;
  height: 100px;
 }
 .days{
  flex-direction: row;
  font-weight: 600;
 }
 .percent{
  width: 50px;
 }
 .percent > span{
  width: 25px;
 }
}

.product-image-ctn, .ctn{
  flex: 1;
}

.product-image-ctn > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.percent{
  display: block;
  width: 100px;
  height: 12px;
  border-radius: 20px;
  background-color: #e6e6e6;
}

.percent > span{
  display: block;
  width: 50px;
  height: 12px;
  border-radius: 20px;
  background-color: #2d9e6d;
}
.product-price{
  display: flex;
  justify-content: space-between;
}
.current-price{
  font-size: 20px;
  font-weight: 600;
}
.previous-price{
  text-decoration: line-through;
  color: gray;
}
.percent-deduction{
  background-color: rgba(255,59,59,.2);
  font-size: 13px;
  color:#c60000;
  text-align: center;
  border-radius: 3px;
  width: fit-content;
  height: fit-content;
  padding: 3px;
}
.percent-design{
  display: flex;
  justify-content: space-between;
}
.single-product{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
}
.add{
  display: block;
  font-weight: 600;
  font-size: 18px;
  padding-block:  10px; 
  width: 100%;
  color: #ed017f;
  border: 1px solid #ed017f;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.add:hover{
  background-color: #ed017f;
  color: #fff;
}
.ctn{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.first-footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #2e2e2e;
  color: #b9b9b9;
  transition: all 0.3ms ease-in-out;
}
.contact-means{
  display: flex;
  align-items: center;
  gap: 10px;

}
.contact-means > span{
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  color: black;
}
.contact-means > h3{
  font-size: 20px;
}
.social-details:hover{
 color: white;
}
.latest{
  flex-direction: column;
}
.about-brand{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 20px;
  flex : 1;
}
.about-brand > div{
  flex:1;
}
.about-konga{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about-konga span{
  font-size: 14px;
}
.about-konga h3{
  font-size: 16px;
}
.phone{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.inner i{
  font-size: 30px;
}
.inner{
  display: flex;
  gap: 5px
}
.inner span{
  display: block;
} 
.socials{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.span span{
  display: block;
}

.socials span{
 
  background-color: #2e2e2e;
  padding: 10px;
  border-radius: 50%;
}
.socials i{
  font-size: 20px;
}
.the-end{
  display: flex;
  align-items: center;
  color: #eee;
  background-color: black;
}
.the-end div, .the-end p{
  flex : 1;
}
.the-end p{
  text-align: center;
}
.wahala{
  display: flex;
  background-color: black;
  color: #ddd;
  flex-wrap: wrap;
}
.dey-play{
  padding: 30px;
  display: flex;
}
.input{
  display: flex;
  padding: 15px;
}
.input > input, .input>button{
  padding: 13px;
}
.input > input{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  
}
.input>button{
  font-weight: 700;
  font-size: 16px;
  background-color: #ed017f;
  color: white;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}